<form method="post" action="{{ path('product_detail_field_delete', {'id': product_detail_field.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product_detail_field.id) }}">
    <button class="btn">Delete</button>
</form>
