{{ form_start(form) }}
<div class="row">
    <div class="col-12">{{ form_widget(form) }}</div>
    <div class="col-12"><hr></div>
    <div class="col-6"><a href="{{ path('product_detail_field_index') }}" class="btn btn-dark">Back to list</a></div>
    <div class="col-6"><button class="btn btn-primary float-right">{{ button_label|default('Save') }}</button></div>
</div>
{{ form_end(form) }}
