{% extends 'base.html.twig' %}

{% block title %}Edit Product Field{% endblock %}

{% block body %}
    <h1>Edit Product Field</h1>

    {{ include('product_detail_field/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
