{% extends 'base.html.twig' %}

{% block title %}ProductDetailField index{% endblock %}

{% block body %}
    <h1>ProductDetailField index</h1>

    <div class="row">
        <div class="col-6">
            {{ knp_pagination_render(product_detail_fields) }}
            <p class="count">
                Total count:  {{ product_detail_fields.getTotalItemCount }}
            </p>
        </div>
        <div class="col-6">
            <a href="{{ path('product_detail_field_new') }}" class="btn btn-success float-right">Create new</a>
        </div>
    </div>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(product_detail_fields, 'Title', 'pf.title') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product_detail_field in product_detail_fields %}
            <tr>
                <td>{{ product_detail_field.title }}</td>
                <td align="right">
                    <a class="btn btn-outline-dark"
                       href="{{ path('product_detail_field_show', {'id': product_detail_field.id}) }}">show</a>
                    <a class="btn btn-success"
                       href="{{ path('product_detail_field_edit', {'id': product_detail_field.id}) }}">edit</a>
                    <a class="btn btn-danger"
                       onclick="return confirm('Delete item?');"
                       href="{{ path('product_detail_field_delete', {'id': product_detail_field.id}) }}">
                        delete
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
