{% extends 'base.html.twig' %}

{% block title %}New Product Field{% endblock %}

{% block body %}
    <h1>Create new Product Field</h1>

    {{ include('product_detail_field/_form.html.twig') }}

{% endblock %}
