{% extends 'base.html.twig' %}

{% block title %}ProductDetailField{% endblock %}

{% block body %}
    <h1>ProductDetailField</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product_detail_field.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ product_detail_field.title }}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="row">
        <div class="col-6">
            <a href="{{ path('product_detail_field_index') }}" class="btn btn-dark">Back to list</a>
        </div>
        <div class="col-6">
            <a href="{{ path('product_detail_field_edit', {'id': product_detail_field.id}) }}" class="btn btn-success float-right"> Edit </a>
            <a
                    href="{{ path('product_detail_field_delete', {'id': product_detail_field.id}) }}"
                    onclick="return confirm('Delete item?');"
                    class="btn btn-danger float-right mr-3">
                delete
            </a>
        </div>
    </div>

{% endblock %}
