{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello!</h1>

    You can:
    <ul>
        <li>View all products <code><a href="{{ path('product_index') }}">go to list</a> </code></li>
        <li>Create new product <code><a href="{{ path('product_new') }}">go to form</a></code></li>
    </ul>
</div>
{% endblock %}
