{% form_theme form 'bootstrap_4_layout.html.twig' %}
 {{ form_start(form) }}

<div class="row">

    <div class="col-6">
        <div><h3>Main fields</h3></div>
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-6"><h3>Properties</h3></div>
            <div class="col-6">
                <a href="{{ path('product_detail_field_new') }}" class="btn btn-success float-right">Crete new</a>
            </div>
        </div>
    </div>

    <div class="col-6">
        {{ form_widget(form) }}
    </div>
    <div class="col-6">
        {{ form_widget(productDetailForm) }}
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="col-6">
        <a href="{{ path('product_index') }}" class="btn btn-dark">Back to list</a>
    </div>
    <div class="col-6">
        <button class="btn btn-primary float-right">{{ button_label|default('Save') }}</button>
    </div>
</div>
{{ form_end(form) }}
