{% extends 'base.html.twig' %}

{% block title %}Edit Product{% endblock %}

{% block body %}
    <h1>Edit Product</h1>
    <hr>
    {{ include('product/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
