{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <h1>Product index</h1>
        </div>

        <div class="col-8">
            {{ form_start(searchForm) }}
                <a href="{{ path('product_index') }}"  class="btn btn-ligh float-right ml-1">Clear</a>
                {{ form_widget(searchForm) }}
            {{ form_end(searchForm) }}
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            {{ knp_pagination_render(products) }}
            <p class="count">
                Total count:  {{ products.getTotalItemCount }}
            </p>
        </div>
        <div class="col-6">
            <a href="{{ path('product_new') }}" class="btn btn-success float-right">Create product</a>
        </div>
    </div>
    <p></p>
    <table class="table">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(products, 'Name', 'p.name') }}</th>
                <th>{{ knp_pagination_sortable(products, 'Price', 'p.price') }}</th>
                <th>{{ knp_pagination_sortable(products, 'CreatedAt', 'p.createdAt') }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td align="right">
                    <a class="btn btn-outline-dark" href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a class="btn btn-success" href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                    <a class="btn btn-danger"
                       onclick="return confirm('Delete item?');"
                       href="{{ path('product_delete', {'id': product.id}) }}">
                        delete
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(products) }}
    </div>


{% endblock %}
