{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>

            {% if product.productDetailValues is not empty %}
                <tr>
                    <th colspan="2"><h3>Fields</h3></th>
                </tr>
                {% for item in product.productDetailValues %}
                    <tr>
                        <th>{{ item.field.title }}</th>
                        <td>{{ item.value }}</td>
                    </tr>
                {% endfor %}
            {% endif %}

        </tbody>
    </table>
    <hr>
     <div class="row">
        <div class="col-6">
            <a href="{{ path('product_index') }}" class="btn btn-dark">Back to list</a>
        </div>
        <div class="col-6">
            <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-success float-right"> Edit </a>
            <a
                    href="{{ path('product_delete', {'id': product.id}) }}"
                    onclick="return confirm('Delete item?');"
                    class="btn btn-danger float-right mr-3">
                delete
            </a>
        </div>
    </div>
{% endblock %}
