<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark  p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Company name</a>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Products
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('product_index') }}">
                                <span data-feather="file-text"></span>
                                Products list
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_new') }}">
                                <span data-feather="file-text"></span>
                                Create product
                            </a>
                        </li>
                    </ul>

                    <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        Product fields
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">

                            <a class="nav-link" href="{{ path('product_detail_field_index') }}">
                                <span data-feather="file-text"></span>
                                Products fields list
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('product_detail_field_new') }}">
                                <span data-feather="file-text"></span>
                                Create product field
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="top-message">
                {% for message in app.flashes('error') %}
                    <div class="alert alert-danger" id="error-message">
                        {{ message }}
                    </div>
                {% endfor %}

                {% for message in app.flashes('success') %}
                    <div class="alert alert-success" id="success-message">
                        {{ message }}
                    </div>
                {% endfor %}
                </div>
                <div>
                    {% block body %}{% endblock %}
                </div>

            </main>
        </div>
    </div>

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
